.Section{
   text-align: left;
   background-color: bisque;
}

.Section img {
    width: 280px;
    border-radius: 4px;
}

.Model{
    color: black;
}

.Price{
    color: #595959;
    font-size: 16px;
}

