* {
    margin: 0;
    padding: 0;
    color: white;
    box-sizing: border-box;
}

body {
    background-image: url(src/img/background-tela.jpg);
    background-size: cover;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* background-image: url(src/img/background-tela.jpg);
    background-size: cover; */

}

.header {
    width: 100%;

}

.menu {
    background-color: rgba(0, 0, 0, 0.315);
    display: flex;
    padding: 20px;
    width: 100%;
    list-style: none;
    justify-content: space-around;
    align-items: center;
}

.menu,
li,
a {
    text-decoration: none;
    cursor: pointer;
}



.infor {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.main {
    display: flex;
    width: 50%;
}

.photo {
    width: 50%;
}

.card-epsodio {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.episodios {
    display: flex;
    flex-direction: row;
    gap: 10px;
}


.price-img {
    width: 392px;
    height: 580px;

}

.movie {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin: 0px 70px;
}

.sociais {
    display: flex;
    align-items: center;
    width: 50px;
}

.sociais ul li a img {
    width: 29px;
    height: 29px;
    margin: 16px 0px
}


.redes {
    list-style-type: none;
}


.title {
    font-size: 2.1rem;
}


.box-epsodio {
    display: flex;
    width: 240px;
    height: 140px;
    background-color: #cbcbcb;
    flex-direction: column;
}


.img_play {
    display: flex;
    height: 80%;
    align-items: center;
    justify-content: center;
}

.img_play img {
    height: 50px;
}