.header {
    display: flex;
    background-color: rgb(255, 0, 0);
    width: 100%;
    height: 80px;
}

.d-header {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
}


.btn-header {
    border-radius: 20px;
    border-color: #FFCC00;
    background-color: #FFCC00;
    font-weight: 700;
    height: 48px;
    width: 150px;
}

.btn-link {
    color: inherit;
    text-decoration: none;
}

.header img {
    width: 121px;
    height: 40px;
}