* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.hero {
    background-color: #ffcc00;
    width: 100%;
    height: 480px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 40px;
}

.text-hero{
    font-size: 36px;
    font-weight: 600;
}

.input-hero{
    padding: 15px;
    border:1px solid #ccc;
    border-radius: 0px 10px 10px 0px;
    width: 560px;
    margin-bottom: 30px;
}

.input-div{
    display:flex;
    justify-content: center;
    flex-direction: column;
}

.input-div img {
    width: 29px;
    height: 29px;
    background-color: white;
    position: absolute;
    /* top: 37.5%; */
}