html,
body {
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    background-image: linear-gradient(to right, #777777, #557497);
    justify-content: center;
    align-items: center;
}

.cabecalho {
    display: flex;
    gap: 10px;
    flex-direction: column;
    background-color: rgb(94, 94, 92);
    width: 500px;
    height: 400px;
    align-items: center;
    border: 1px solid rgba(0, 0, 0, 0.37);
    border-radius: 10px;

}

.nav {
    display: flex;
    justify-content: center;
    flex-direction: row;
    width: 100%;

}

#adc_text {
    padding: 15px;
    margin-top: 10px;
    height: 30px;
    width: 60%;
    text-align: center;
}

.adc_list {
    display: flex;
    font-size: 2em;
    width: 100%;
    height: 100%;
    padding-left: 30px;
}

.list_type {
    list-style-type: none;
}

button {
    display: flex;
    padding: 15px;
    height: 30px;
    margin: 10px;
    align-items: center;
}

.check_ITEMUNDER {
    text-decoration: line-through;

}